<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
{{ super() }}
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <form method="POST" ID="form" action="/">
        <td><input type="text" name="symbol"/></td>
        <p style="font-size:1.5vw; color:#000000;">Type in stock symbol above ^</p>
        <p style="font-size:2vw;"><td><input type="submit" value="click here to search = {{price}}" /> </td></p>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">
    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>DN</b></span> <span class="w3-hide-small w3-text-grey">Stratton Oakmont</span></h1>
        </div>
    </header>

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">"Dream To Be Rich"</h3>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <img src="/static/img/oakmont.jpg" alt="logo" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <img src="/static/img/download.jpg" alt="stocks" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <img src="/static/img/unnamed.jpg" alt="unnamed" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <img src="/static/img/stratton.jpg" alt="pic" style="width:100%">
            </div>
        </div>
    </div>
    <!-- End page content -->
</div>

</html>

{% endblock %}






